<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
      <div *ngIf="this.flagPwError == 2" class="alert alert-danger" role="alert">
        Os parametros obrigatórios da Password e Confirmação Password não foram atingidos.
      </div>
      <div *ngIf="this.flagPwError == 1" class="alert alert-success" role="alert">
        Usuário registrado com sucesso!!!
      </div>
        <h3>Registre-se</h3>
        <form #f="ngForm" 
              (ngSubmit)="onSubmit(f)">
            <div class="form-group">
              <label for="registerUserName">Nome do usuário</label>
              <input type="text" name="username" ngModel required #username="ngModel"
                     class="form-control" 
                     id="registerUserName" 
                     placeholder="Digite o seu usuário">
            </div>
            <div class="form-group">
                <label for="registerEmail">Email</label>
                <input type="email" name="email" ngModel required #email="ngModel" 
                       class="form-control" 
                       id="registerEmail" 
                       placeholder="Digite o seu email">
              </div>
            <div class="form-group">
              <label for="registerPassword">Password</label>
              <input type="password" name="password" ngModel required #password="ngModel"
                     class="form-control" 
                     id="registerPassword" 
                     placeholder="Password">
            </div>
            <div class="form-group">
              <label for="registerPassword">Confirmação Password</label>
              <input type="password" name="passwordconfirmation" ngModel required #passwordconfirmation="ngModel"
                     class="form-control" 
                     id="registerCofirmationPassword" 
                     placeholder="Password">
            </div>
            <button type="submit" 
                    [disabled]="f.invalid"
                    class="btn btn-primary">Registrar <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                      </svg></button>
          </form>
          <br>
          <p>Obs.: Todos os campos são obrigatórios. Password deve possuir ao menos 8 caracteres, contendo ao menos, um
            caracter especial, um caracter numérico, um caracter minúsculo e um caracter maiúsculo. Password e confirmação devem ser iguais.</p>
    </div>
</div> 
