

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-width: 0;
    min-height: 0;
    height: 100%;
}

.board-bar {
    background-color: gray;
    padding: 10px 15px;
    border-radius: 4px;
}

.board-name {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    height: 600px;
}

.board-columns {
    display: flex;
    flex-grow: 1;
    height: 500px;
}

.board-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;

    min-width: 300px;
    margin: 2px;
    padding: 10px;

    border-radius: 4px;

    background-color: lightgray;

}

.column-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;

}

.tasks-container{
    flex-grow: 1;
}

.task{
    display: flex;
    padding: 15px 12px;
    background-color: white;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;
    margin-bottom: 20px;

    box-shadow: 0 5px 5px -3px black,
    0 3px 14px 2px black;
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }